body {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.col-md-6 {
  border: 25px solid blueviolet;
  margin-top: 200px !important;
  padding: 20px;
}

button {
  margin: 20px !important;
  border: 2px solid blanchedalmond !important;
}

h1 {
  font-weight: bolder !important;
  margin: 20px !important;
}
